<!--This is the profile for the logged in user. It
displays their name, profile picture and username-->
@model ScavengeRUs.Models.Entities.ApplicationUser

@{
    ViewData["Title"] = "Profile";
}
<!--Check to see if Firstname is not Null and since attribute is set to String.empty: checks if it is left empty.-->
@if (Model.FirstName != null && !string.IsNullOrEmpty(Model.FirstName))
{
    <h1>@Model.FirstName @Model.LastName</h1>
}
else
{
  <h1>Guest @Model.PhoneNumber</h1>  
}


<p>placeholder for profile picture</p>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Username:</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
